<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="main-title">{{title}}</div>
      <div class="subtitle">{{text}}</div>
    </div>
    <div class="col s6">
      <div class="snake-container">
        <canvas id="snake" width="500" height="500"></canvas>
      </div>
    </div>
    <div class="col s6">
      <div class="flow-text">Ranking graczy</div>
      <div class="snake-ranking">
        <ul class="collection with-header">
          {{#each result}}
            <li class="{{#if @first}}collection-header{{else}}collection-item{{/if}}">
              {{#if @first}}
                <h5>{{inc @index}}. {{nickname}} - {{score}}</h5>
              {{else}}
                {{inc @index}}. {{nickname}} - {{score}}
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="start-game-text">
        Podaj nickname i rozpocznij grę
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="nickname" id="icon_prefix" type="text" class="validate" value="">
        <label for="icon_prefix">Nick</label>
      </div>
      <div class="col s12 range-field">
        <p class="mb0 mt0">Szybkość rozgrywki</p>
        <input type="range" id="snake_speed" min="1" max="10" value="4"/>
      </div>
      <a id="start_snake" class="waves-effect waves-light btn">Rozpocznij</a>
      <a id="stop_snake" class="waves-effect waves-light btn">PAUZA</a>
    </div>
  </div>
</div>
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/p5.js"></script> --}}
<script src="/modules/snake/snake.js"></script>