<div class="container mt20">
	<div class="row">
		<div class="col m12 s12">
			<div class="starter-template mb20">
				<h3 class="center mb20 mt0">{{welcomeMessage}}</h3>
				<h5 class="center mb30">{{chooseInfo}}</h5>
			</div>
		</div>
		{{#each games}}
		<div class="col m6 s12">
			<div class="card game-card">
				<div class="card-image {{#ifCond url '==' '/snake' }}snake-img {{else}}tictactoe-img {{/ifCond}}pt10">
					<a href="{{url}}">
						<img src="{{image}}">
					</a>
					<span class="card-title">{{title}}</span>
				</div>
				<div class="card-content">
					<p>{{description}}</p>
				</div>
				<div class="card-action center">
					<a href="{{url}}">Graj!</a>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</div>